# OS
.DS_Store

# IntelliJ
.idea/
*.iml

# Env
.env
.env.local

# Node / Angular
node_modules/
dist/
.angular/

# Java / Spring
target/
*.class

# Python
__pycache__/
.venv/
*.pyc

# Media
uploads/
generated/